
.container {
    position: relative;
    width: 1200px;
    height: 2000px;
    border: 5px dashed orange;
    margin: auto;
    text-align: center;
}

.container div {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 10%;
    box-sizing: border-box;
    text-align: center;
    font-style: 48px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    border: 3px dashed black;
}

.base {
    position: absolute;
    border: 3px dashed #ddd;
    z-index: -1;
    color: #ddd;
}

.first {top: 0px;}
/* .second {right: 0px;}
.third { bottom: 0px; left: 0px;}
.fourth {bottom: 0px; right: 0px;}  */

.fifth {top:0; left: 500px;}
.sixth {top:200px; left: 500px;}
.seventh {top:400px; left: 500px;}
.eighth {top:600px; left: 500px;}