body, ul, li {margin: 0;padding: 0; list-style: none;}

a { color: inherit; text-decoration: none;}

.menu-1 {text-align: center;}
.menu-1 ul {background-color: #dfdfdf;}

/* 1차 메뉴 */

.menu-1 > ul {display: inline-block; padding: 0 10px; border-radius: 5px;}

/* 1차 메뉴의 아이템 */

.menu-1 >ul >li {
    display: inline-block;
    position: relative; 
    width: 140px;
    
}

.menu-1 ul > li > a {
display: block;
padding: 10px;

}

.menu-1 ul > li:hover > a {
    background-color: black;
    color: white;

}

/* ----------ul을 또 잡으면 2차 메뉴만 선택됨

.menu-1 ul ul > li:hover > a {
    background-color: black;
    color: white;

}-------------- */

/* 2차 메뉴 (서브메뉴) */

.menu-1 >ul ul {
    display: none;

    /* 1차 메뉴는 inline-block인데, hover 시 2차 메뉴가 block으로 변경되면서
    레이아웃이 끊기는 현상을 제거 */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

/* 1차 메뉴 아이템에 hover시 서브메뉴 표시 */
.menu-1 ul > li:hover > ul {display: block;}


.menu-1 > ul ul ul {
top: 0;
left: auto;
right: 100%;

}


/* 첫번째 1차 메뉴의 3차 메뉴 */
.menu-1 > ul > li:first-child > ul ul,
.menu-1 > ul > li:nth-child(2) > ul ul
 {
    right: auto;
    left:100%
}

.menu-1 ul > li {
    position: relative;
}