.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed rgb(105, 145, 255);
}

.flex-container {
    display: flex;
    border: 1px solid rgb(255, 224, 122);
}

.item {
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 30px;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background:royalblue;
    color: white;
    box-sizing: border-box;
}

/* flex-direction */

.row {
    flex-direction: row;
} /* default */

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
} 

.column-reverse{
    flex-direction: column-reverse;
}


/* flex-wrap */

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}


/* flex-flow */

.row-wrap {
    flex-flow: row wrap;
}


/* justify-conetent */
.center {
    justify-content: center;
}
.start {
    justify-content: start;
}
.end {
    justify-content: end;
}
.beetween {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}


/* align-items */
.cross {height: 400px;}
.cross-center {align-items: center;}
.cross-start {align-items: flex-start;}
.cross-end {align-items: flex-end;}
.cross-strech {align-items: stretch;}