/* TODO : 여기에 코드를 작성해보세요:)  */

.wrapper {min-width: 100%; margin: 0 auto;}

@media screen and (min-width:800px) {

    .wrapper {max-width: 90%;}
    header, footer {width: 100%;}
    nav, section {float: left;}
    nav { width: 20.8%; margin-right: 1.04%;}
    section {width: 78%;}
    footer {clear: both;}
    
}


@media screen and (min-width:1000px) {

    .wrapper { max-width: 66.666%;}

    
}




*, 
*::before,
*::after { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin-bottom: 10px;
    text-align: center;
    margin: 0;
}

header, nav, section, footer {
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 3px;
}

header, footer {padding: 20px 0;}
nav, section {padding: 200px 0;}