.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border:3px dashed rgb(219, 103, 113);
}

/* display:flex */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.col {
    flex: 33.3333%;
    max-width: 33.3333;
    padding: 0 4px;
    box-sizing: border-box;
}

.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}